<ion-header translucent>
    <ion-toolbar>
        <ion-title>Create new Goal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <form>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">

            <ion-item>
                <ion-label position="stacked">Goal Title
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Goal Description<ion-text color="danger">*</ion-text></ion-label>
                <ion-textarea required></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label position="stacked">Set Deadline<ion-text color="danger">*</ion-text></ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" [min]="minDate()" max="2100-01-01" required></ion-datetime>
            </ion-item>
        </ion-list>

        <div class="ion-padding">
            <ion-button expand="block" type="submit" class="ion-no-margin">Add Goal</ion-button>
        </div>
    </form>
</ion-content>

