<div>
  <div *ngFor="let affordance of affordances">
    <div class="alert alert-primary" role="alert" *ngIf="successMessage != null">
      {{successMessage}}
    </div>
    <div *ngFor="let fmd of affordance.fieldMetadata">
      <app-input [fieldMetadata]="fmd" (onValueChange)="requestBody[fmd.name]=$event"></app-input>
    </div>
    <div style="padding: 20px">
      <label class="control-label col-sm-2"></label>
      <div class="col-sm-10">
        <div style="display: inline" (mouseenter)="checkInputValidity()" (mouseleave)="resetPostButton()">
          <input class="form-control" type="button" class="btn btn-primary" value="create"
                 (click)="post()"
                 [disabled]="postDisabled">
        </div>
      </div>
    </div>
  </div>
</div>
