<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Zprogress</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item"  *ngFor="let element of rootResource.elements">
            <a class="nav-link" (click)="selectElement(element)">
              {{element.getValueOfField('name')}}
            </a>
            <ul class="nested" *ngIf="element.subElements != null">
              <li *ngFor="let subElement of element.subElements">
                <a class="nav-link" (click)="selectElement(subElement)">{{subElement.getValueOfField('name')}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <button type="button" class="btn" *ngIf="rootResource.canCreateResource()" [routerLink]="[{ outlets: { mainContentPageOutlet: ['create'] } }]">create new {{rootResource.resource}}</button>
      <button type="button" class="btn" *ngIf="selectedElement != null && selectedElement.canUpdateResource()">update {{selectedElement.getValueOfField('name')}}</button>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet name="mainContentPageOutlet"></router-outlet>
    </main>
  </div>
</div>
